<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
  <ion-pullup-tab [footer]="pullup" (tap)="toggleFooter()">
    <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon><ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
  </ion-pullup-tab>
  <ion-toolbar color="primary" (tap)="toggleFooter()">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-card>
      <ion-card-header>
        Header
      </ion-card-header>
      <ion-card-content>
        The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Explore Nearby
      </ion-card-header>

      <ion-list>
        <button ion-item>
          <ion-icon name="cart" item-left></ion-icon>
          Shopping
        </button>

        <button ion-item>
          <ion-icon name="medical" item-left></ion-icon>
          Hospital
        </button>

        <button ion-item>
          <ion-icon name="cafe" item-left></ion-icon>
          Cafe
        </button>

        <button ion-item>
          <ion-icon name="paw" item-left></ion-icon>
          Dog Park
        </button>

        <button ion-item>
          <ion-icon name="beer" item-left></ion-icon>
          Pub
        </button>

        <button ion-item>
          <ion-icon name="planet" item-left></ion-icon>
          Space
        </button>

      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Header
      </ion-card-header>
      <ion-card-content>
        The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-pullup>