<ion-nav-bar></ion-nav-bar>
<ion-view view-title="Page 1">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i> Check mail
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i> Call Ma
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i> Record album
        <span class="item-note">
      Grammy
    </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i> Friends
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#tabs">
        <i class="icon ion-arrow-left-c"></i>
        Back to Tabs
      </a>

    </div>
  </ion-content>
  <ion-pull-up-footer class="bar-positive">
    <ion-pull-up-handle icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" style="border-radius: 25px 25px 0 0">
    </ion-pull-up-handle>
    <ion-pull-up-bar>
      <h1 class="title" ion-pull-up-trigger>Tap here</h1>
    </ion-pull-up-bar>
    <ion-pull-up-content scroll="false">
      <div class="list card">
        <div class="item item-divider">Recent Updates</div>
        <div class="item item-body">
          <div>
            There is a fire in <b>sector 3</b>
          </div>
        </div>
      </div>
    </ion-pull-up-content>
  </ion-pull-up-footer>
</ion-view>