<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
    <ion-pull-up-footer class="bar bar-footer" style="box-shadow: 0 -3px 2px #888">
        <ion-pull-up-handle style="width: 100px; height: 25px; box-shadow: 0 -3px 2px #888; border-radius: 25px 25px 0 0; text-align: center">
            <i class="icon ion-chevron-up"></i>
        </ion-pull-up-handle>
        <div class="title" ion-pull-up-trigger>More details</div>
        <ion-pull-up-content scroll="true">
            <div class="list card">
                <div class="item item-divider">Recent Updates</div>
                <div class="item item-body">
                    <div>
                        There is a fire in <b>sector 3</b>
                    </div>
                </div>
            </div>
        </ion-pull-up-content>
    </ion-pull-up-footer>
</ion-view>
