<ion-view view-title="Dashboard">
    <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
        <button class="button button-positive button-clear icon ion-arrow-up-b" ng-click="expand()"> Expand footer</button>
      </div>
    </div>
    <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
         Go to <a href="#/page1">Page 1</a>
        </div>
      </div>
    </div>
    </ion-content>
    <ion-pull-up-footer class="bar-energized" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState">
        <ion-pull-up-handle icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" style="border-radius: 25px 25px 0 0">
        </ion-pull-up-handle>
        <ion-pull-up-bar>
            <h1 class="title" ion-pull-up-trigger>Tap here</h1>
            <button class="button icon ion-gear-a"></button>
        </ion-pull-up-bar>
        <ion-pull-up-content scroll="false">
            <div class="list card">
                <div class="item item-divider">Recent Updates</div>
                <div class="item item-body">
                    <div>
                        There is a fire in <b>sector 3</b>
                    </div>
                </div>
            </div>
        </ion-pull-up-content>
    </ion-pull-up-footer>
</ion-view>
