<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
<lib-ionic-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" (dragged)="onDrag($event)" [(state)]="footerState" [toolbarTopMargin]="toolbarMargin" [minBottomVisible]="200" [dockable]="true">

  <ion-toolbar color="light" (click)="toggleFooter()" #ionDragFooter>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-card>
      <ion-card-header>
        Header
      </ion-card-header>
      <ion-card-content>
        The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      </ion-card-content>
    </ion-card>
    
    <ion-list inset>

      <ion-item *ngFor="let item of [].constructor(15); let i = index"> 
        <ion-avatar slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        <ion-label>
          Item {{ i }}
        </ion-label>
      </ion-item>
    </ion-list>
    <div style="display: block; height: 72px"></div>
  </ion-content>
</lib-ionic-pullup>