
$tabWidth:            120px;                            // tab width
$tabHeight:           22px;                             // tab height, set to 0px if there is no tab
$tabRadius:           20px;                             // tab radius
$tabBackground:       color($colors, primary, base);    // tab background color
$tabIconColor:      white;                            // icon color within tab
$tabShadow:         #666;                             // shadow color

@mixin pullup-tab($width, $height, $radius, $background: color($colors, primary, base), $foreground: color($colors, primary, contrast)) {
  position: relative;
  width: $width;
  height: $height;
  background: $background;
  color: $foreground;
  border-radius: $radius $radius 0 0;
  margin: 0 auto; 
}

@mixin pullup-tab-shadow($shadowColor) {
    box-shadow: 0px -2px 2px $shadowColor;
}

ion-pullup { 
  background : color($colors, primary, base);  

  ion-footer {
    &::before {
      content: none;
    }

    ion-pullup-tab {
      z-index: 1000;
      display: flex;
      justify-content: center;

      @include pullup-tab($tabWidth, $tabHeight, $tabRadius, $tabBackground, $tabIconColor);
      @include pullup-tab-shadow($tabShadow);
    }

    ion-content {
      position:absolute;
      
      .ios & {
        @import 'node_modules/ionic-angular/components/toolbar/toolbar.ios';
        margin-top: calc(#{$toolbar-ios-height} + #{$tabHeight});

        scroll-content {
          margin-bottom: calc(#{$toolbar-ios-height} + #{$tabHeight});
        }
      }
      .md & {
        @import 'node_modules/ionic-angular/components/toolbar/toolbar.md';
        margin-top: calc(#{$toolbar-md-height} + #{$tabHeight});

        scroll-content {
          margin-bottom: calc(#{$toolbar-md-height} + #{$tabHeight});
        }
      }
    }

    ion-toolbar {
      @include pullup-tab-shadow($tabShadow);
      
      .toolbar-background {
        .ios & {
          border-top: none;
        }
      }
    }
  } 
}